<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @board.value %>
</p>

<p>
  <strong>Array:</strong>
  <%= @board.array %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
